@page
@model WebApp.Pages.PlayerAnswers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlayerAnswer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerAnswer!.CorrectAnswersCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerAnswer!.CorrectAnswersCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerAnswer!.Count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerAnswer!.Count)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerAnswer!.Player)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerAnswer!.Player.PlayerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PlayerAnswer!.PlayerAnswerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
