@page
@using GameBrain
@model WebApp.Pages.PlaceTheBoats.Index

@{var player = "";}
@if(Model.BattleShip.NextMoveByX )
{
    player = Model.BattleShip.Player1;
}
else
{
    player = Model.BattleShip.Player2;
}

<div class="container">
    <h2>@player choose your boat locations</h2>
    @functions
    {

        string GetCellContent(CellState cell)
        {
            var res = "";

            if (cell != null)
            {
                if (cell.Ship)
                {
                    res = "🟦";
                }

                if (cell.Empty)
                {
                    res = "&nbsp;";
                }
            }

            return res;
        }


    }
    <div class="container">
        @if (Model.Message.Length > 1)
        {
            <div class="alert alert-danger" role="alert">@Model.Message</div>
        }

            <div class="row">
            <div class="col text-right">
             <div class="text-label">Choose your boat</div>
            <tr>
            @foreach (var each in Model.GameShips)
            {
                var boat = "";
                for (int i = 0; i < each.Width; i++)
                {
                    if (each.Inserted || Model.Random != null)
                    {
                        boat += "🟥";
                    }
                    else
                    {
                        boat += "🟦";
                    }
                }
                if (each.Inserted || Model.Random != null)
                {
                    <td><a>@each.Name @boat </a></td>

                }
                else
                {
                    <td><a class="list-group list-group-flush" asp-route-id="@Model.Game?.GameId"  asp-route-dir="@Model.Direction" asp-route-ship="@each.ShipId" >@each.Name @boat </a></td>

                }

            }

        </tr>

        <tr>
            <div class="text-label" >Choose boat direction</div>
            <td><a  asp-route-id="@Model.Game?.GameId" asp-route-direction="@Model.Direction"  asp-route-ship="@Model.CurrentBoatId" asp-route-dir="R">Right ➡️️</a></td>
            <td><a asp-route-id="@Model.Game?.GameId" asp-route-direction="@Model.Direction" asp-route-ship="@Model.CurrentBoatId" asp-route-dir="D">Down ⬇️</a></td>
        </tr><br>
            <tr><br>
                <td><a class="btn btn-outline-info" asp-route-id="@Model.Game?.GameId" asp-route-rand="@Model.Random" asp-route-random="r">Randomise️</a></td>

            </tr>
            <tr>
                <td><a class="btn btn-outline-info" asp-route-id="@Model.Game?.GameId" asp-route-random="@Model.Random" asp-route-red="@Model.Ready" asp-route-ready="r">Ready</a></td>
            </tr>


    </div>
    <div class="col text-center">
        <table class="no-boarder">

            @for (int x = 0; x < Model.BattleShip.Width + 1; x++)
            {
                if (x == 0)
                {
                    <td> @Html.Raw("&nbsp;")</td>
                }
                else
                {
                    <td class="no-boarder"> @Html.Raw(x)</td>
                }
            }


            @for (int y = 0; y < Model.BattleShip.Width; y++)
            {

                char[] alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();
                <tr>

                    <td class="no-boarder">
                        @Html.Raw(alpha[y])
                    </td>

                    @for (int x = 0; x < Model.BattleShip.Height; x++)
                    {

                        <td class="table table-bordered border-size text-center"

                            onclick="window.location.href = '?dir=@Model.Direction&ship=@Model.CurrentBoatId&x=@x&y=@y&id=@Model.Game?.GameId&random=@Model.Random&ready=@Model.Ready'" style="cursor: pointer">
                            @Html.Raw(GetCellContent(Model.BattleShip.GetCell(x, y, Model.BattleShip.NextMoveByX ? Model.BattleShip.Board1: Model.BattleShip.Board2)))
                        </td>
                    }
                </tr>
            }
        </table>
        </div>
    </div>
</div>
</div>
