@page
@using GameBrain
@model WebApp.Pages.PlaceTheBoats.Index

@{var player = "";}
@if(Model.BattleShip.NextMoveByX )
{
    player = Model.BattleShip.Player1;
}
else
{
    player = Model.BattleShip.Player2;
}
<h1>@player choose your boat locations</h1>
@functions
{

    string GetCellContent(CellState cell)
    {
        var res = "";

        if (cell != null)
        {
            if (cell.Ship)
            {
                res = "🟦";
            }

            if (cell.Empty)
            {
                res = "&nbsp;";
            }
        }

        return res;
    }


}
<div class="container" align="center">
 @if (Model.Message.Length > 1)
    {
        <div class="alert alert-danger" role="alert">@Model.Message</div>
    }
<tr>
    <div class="text-label">Choose your boat</div>



    @foreach (var each in Model.GameShips)
    {
        var boat = "";
        for (int i = 0; i < each.Width; i++)
        {
            if (each.Inserted)
            {
                boat += "🟥";
            }
            else
            {
                boat += "🟦";
            }

        }
        if (each.Inserted)
        {
            <td><a >@each.Name @boat </a></td>

        }
        else
        {
            <td><a class="list-group-item" asp-route-id="@Model.Game?.GameId"  asp-route-dir="@Model.Direction" asp-route-ship="@each.ShipId" >@each.Name @boat </a></td>

        }

    }

</tr>

<tr>
 <div class="text-label" >Choose boat direction</div>
    <td><a class="nav-item" asp-route-id="@Model.Game?.GameId" asp-route-direction="@Model.Direction"  asp-route-ship="@Model.CurrentBoatId" asp-route-dir="R">Right ➡️️</a></td>
    <td><a class="nav-item" asp-route-id="@Model.Game?.GameId" asp-route-direction="@Model.Direction" asp-route-ship="@Model.CurrentBoatId" asp-route-dir="D">Down ⬇️</a></td>
</tr>



<div class="col-4" align="center"></div>
    <div class="table-layout text-center">
        <table class="no-boarder">

            @for (int x = 0; x < Model.BattleShip.Width + 1; x++)
            {
                if (x == 0)
                {
                    <td> @Html.Raw("&nbsp;")</td>
                }
                else
                {
                    <td class="no-boarder"> @Html.Raw(x)</td>
                }
            }


            @for (int y = 0; y < Model.BattleShip.Width; y++)
            {

                char[] alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();
                <tr>

                    <td class="no-boarder">
                        @Html.Raw(alpha[y])
                    </td>

                    @for (int x = 0; x < Model.BattleShip.Height; x++)
                    {



                        <td class="table table-bordered border-size"

                             onclick="window.location.href = '?dir=@Model.Direction&ship=@Model.CurrentBoatId&x=@x&y=@y&id=@Model.Game?.GameId'" style="cursor: pointer">
                            @Html.Raw(GetCellContent(Model.BattleShip.GetCell(x, y, Model.BattleShip.NextMoveByX ? Model.BattleShip.Board1: Model.BattleShip.Board2)))
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>