@page
@model WebApp.Pages.Answer.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Answers[0].Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answers[0].IsAnswerCorrect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answers[0].Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Answers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAnswerCorrect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question!.Questions)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AnswersId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AnswersId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AnswersId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
