@page
@model WebApp.Pages.Questions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].Questions)
            </th>
            <th>
                 Has an answer?
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].Quiz)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Question) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Questions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHavingAnswer)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Quiz!.Title)
            </td>

            <td class="align-content-end" align="right">
                <a class="btn btn-outline-success" asp-page="./Edit" asp-route-id="@item.QuestionId">Edit</a>
                <a class="btn btn-outline-primary" asp-page="/Answers/Create" asp-route-id="@item.QuestionId">Add</a>
                <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.QuestionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
