@page
@model WebApp.Pages.Quizzes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quiz[0].Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Quiz) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="align-content-end" align="right">
                <a class="btn btn-outline-success" asp-page="./Edit" asp-route-id="@item.QuizId">Edit</a>
                <a class="btn btn-outline-primary" asp-page="/Questions/Create" asp-route-id="@item.QuizId">Add questions</a>
                <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.QuizId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
